<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>ru.fedichkindenis.moon_2040.servlets.ScheduleServlet</listener-class>
    </listener>

    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>ru.fedichkindenis.moon_2040.Filters.UserFilter</filter-class>
    </filter>

    <!--#####################FILTER MAPPING#####################-->

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <servlet-name>GetInfoUser</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <servlet-name>GetMoonStatistics</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <servlet-name>GetListGames</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <servlet-name>ConnectToGame</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <servlet-name>DisconnectFromGame</servlet-name>
    </filter-mapping>

    <!--########################################################-->

    <!--#########################SERVLET########################-->

    <servlet>
        <servlet-name>GetInfoUser</servlet-name>
        <servlet-class>ru.fedichkindenis.moon_2040.servlets.GetInfoUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetMoonStatistics</servlet-name>
        <servlet-class>ru.fedichkindenis.moon_2040.servlets.GetMoonStatistics</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GetListGames</servlet-name>
        <servlet-class>ru.fedichkindenis.servlets.GetListGames</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ConnectToGame</servlet-name>
        <servlet-class>ru.fedichkindenis.servlets.ConnectToGame</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DisconnectFromGame</servlet-name>
        <servlet-class>ru.fedichkindenis.servlets.DisconnectFromGame</servlet-class>
    </servlet>

    <!--########################################################-->

    <!--#####################SERVLET MAPPING####################-->
    
    <servlet-mapping>
        <servlet-name>GetInfoUser</servlet-name>
        <url-pattern>/GetInfoUser</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetMoonStatistics</servlet-name>
        <url-pattern>/GetMoonStatistics</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GetListGames</servlet-name>
        <url-pattern>/GetListGames</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ConnectToGame</servlet-name>
        <url-pattern>/ConnectToGame</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DisconnectFromGame</servlet-name>
        <url-pattern>/DisconnectFromGame</url-pattern>
    </servlet-mapping>

    <!--########################################################-->

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login_err.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description>Protected access</description>
        <role-name>admin</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Public access</web-resource-name>
            <url-pattern>/img/*</url-pattern>
            <url-pattern>/js/bootstrap.min.js</url-pattern>
            <url-pattern>/js/jquery-1.10.2.min.js</url-pattern>
            <url-pattern>/css/bootstrap.min.js</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected access</web-resource-name>
            <url-pattern>/list_game.jsp</url-pattern>
            <url-pattern>/game_space.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>

</web-app>
