/*
*   Created by IntelliJ IDEA
*   User: fedichkin_du
*   Date: 29.09.2013
*   Time: 19:26
*/
body {
    background: #f5f5f5 url(../img/moon.jpg) 100% 100% no-repeat;
    background-size: cover;
}

#logo {
    margin: 5% 20%;
}

#login-form {
    background-color: #252a31;
    font-family: DeusEx;
    color: #FFFFF0;
    width: 340;
}

.form-signin {
    float: left;
    margin-left: 20%;
    margin-top: 80px;
}

#login-form label {
    width: 100px;
}

#lg,#pswd {
    margin-left: 120px;
}

#pswd {
    margin-bottom: 20px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
    background-color: #000000;
    border: none;
    font-family: DeusEx;
}

@font-face {
    font-family: DeusEx;
    src: url(../font/Viachaslav_Ilinskiy_DeusEx.otf);
}

#head1 {
    float: left;
    border-bottom: 20px solid #252a31;
    border-left: 20px solid #000000;
    margin-bottom: 20px;
}

#head2 {
    float: left;
    width: 300px;
    height: 20px;
    margin-bottom: 20px;
}

#footer2 {
    float: left;
    border-top: 60px solid #252a31;
    border-right: 60px solid transparent;
    margin-top: -20px;
}

#footer1 {
    float: left;
    width: 280px;
    height: 60px;
    margin-top: -20px;
    background-color: #252a31;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 3.5;
}

#about {
    float: left;
    width: 380px;
    height: 450px;
    background-color: rgba(37, 42, 49, 0.7);
    margin-left: 15%;
}

#biz-moon.bizcontacts-join {
    background-color: #252a31;
}
