<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Настройки подключения к БД -->
        <property name="connection.datasource">java:comp/env/connpool</property>

        <property name="connection.pool_size">10</property>

        <!-- SQL диалект -->
        <property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <!-- Включить автоматическое управление контекстом сессии -->
        <property name="current_session_context_class">thread</property>

        <!-- Вывод в консоль SQL-запросов -->
        <property name="show_sql">true</property>

        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_query_cache">true</property>

        <!-- Подключение объектов сущностей -->
        <mapping package="ru.fedichkindenis.entity"/>
        <mapping class="ru.fedichkindenis.entity.User"/>
        <mapping class="ru.fedichkindenis.entity.Game"/>
        <mapping class="ru.fedichkindenis.entity.Resources"/>
        <mapping class="ru.fedichkindenis.entity.LinkResources"/>
        <mapping class="ru.fedichkindenis.entity.QueueResources"/>
        <mapping class="ru.fedichkindenis.entity.ResourcesStatistics"/>
        <mapping class="ru.fedichkindenis.entity.Ppl"/>
        <mapping class="ru.fedichkindenis.entity.StateResources"/>
        <mapping class="ru.fedichkindenis.entity.StateResourcesPpl"/>
        <mapping class="ru.fedichkindenis.entity.UsrGame"/>
        <mapping class="ru.fedichkindenis.entity.GameResStat"/>
        <mapping class="ru.fedichkindenis.entity.GameStatistics"/>
        <mapping class="ru.fedichkindenis.entity.GoalGame"/>
        <mapping class="ru.fedichkindenis.entity.StartCostResources"/>
        <mapping class="ru.fedichkindenis.entity.Functions"/>
        <mapping class="ru.fedichkindenis.entity.InitMarketEarth"/>
        <mapping class="ru.fedichkindenis.entity.MarketEarth"/>
        <mapping class="ru.fedichkindenis.entity.GameLinkResources"/>
        <mapping class="ru.fedichkindenis.entity.GameFunctions"/>

        <!-- HQL QUERY -->
        <mapping resource="ru/fedichkindenis/bd/hql_query/operand_functions.xml"/>
        <mapping resource="ru/fedichkindenis/bd/hql_query/game_user.xml"/>

    </session-factory>

</hibernate-configuration>